aside{
  flex: 1;

  background-color: $aside-bg;
  color: #FFF;
  box-shadow: 2px 0 5px darken($body-bg,10%);

  .gravatar{
    background-image: url(https://placeimg.com/500/500/tech);
    background-size: cover;
    padding: 70% 5% 5% 0;

    h1,h2{
      text-align: right;
      margin:0 0 10px 0;
      text-shadow: 1px 1px 1px darken($body-bg,80%);
    }
  }

  .specs{
    position: relative;
    margin:2em 0 0 30%;
    padding-bottom: 2em;
    padding-right: 10%;
    line-height: 1.4;
    border-bottom: 2px solid darken($aside-bg, 5%);

    .icon{
      position: absolute;
      top:0.3em;
      left: -30%;
      font-size: 2em;
    }

    a{
      color: $aside-color;
    }

    dl{
      dt{
        font-size:1.5em;
      }

      dd{
        margin: 0;
      }
    }

    form{
      padding: 2%;

      input,textarea{
        background-color: lighten($aside-bg, 10%);
        border-color: darken($aside-bg, 5%);
        color: $aside-color;
        width: 90%;
        margin-bottom: 10px;
        border:none;
        padding: 10px;
        border-radius: 5px;

        &::placeholder{
          color : darken($aside-bg, 20%);
        }

        &[type=submit]{
          background-color: darken($aside-bg, 30%);
          color: $aside-color;
          width: 100%;
        }


      }

    }


  }

  @media only screen and (max-width: 1024px) {
    display:none;
  }

}
