.feed{
  padding: 1% 5%;
  flex: 3;
}

article{
  position: relative;
  background-color: $feed-bg;
  padding: 1% 0 3% 10%;
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px darken($body-bg,10%);
  display:flex;
  flex-direction: column;

  h3,h4{
    color : $feed-color;
  }

  h3{
    font-size: 1.8em;

    @media only screen and (max-width: 1024px) {
      margin:2% 0 5%;
    }
  }

  .icon{
    color: lighten($feed-color, 45%);
    position: absolute;
    top:35px;
    left: 2%;
    font-size: 3em;

    & + section{
      border: none;

      @media only screen and (max-width: 1024px) {
        margin-top: 5%;
      }

    }

    @media only screen and (max-width: 1024px) {
      left: auto;
      top: 2%;
      right: 10%;
      color: lighten($feed-color, 35%);
    }
  }

  & > section{
    padding:1% 0 1% 0;
    border-top : 1px solid lighten($feed-color,45%);

    h4{
      margin-bottom:10px;
    }

    time{
      color:$feed-time;
    }

    p{
      color:$feed-color;
      padding-right:3%;
      margin-top: 10px
    }
  }

  .examples{
    display: inline-flex;
    flex-direction: row;
    padding: 2% 0;
    border-top : 1px solid lighten($feed-color,45%);

    & > a {
      display: block;
      flex:1;


      img{
        width:100%;
        height: auto;
        border: 1px solid $body-bg;
      }


    }

    & > section{
      flex:3;
      padding: 0 3%;

      h4{
        margin-top:0;
      }

      .technologies{
        display: inline-flex;
        justify-content: flex-start;
        padding: 0;
        margin:0;
        list-style: none;

        li{
          color:lighten($feed-color,20%);
          font-size: 14px;
          margin-right: 5px;
          font-style: italic;
        }
      }
    }

  }

  @media only screen and (max-width: 1024px) {
    margin-bottom: 20px;
    padding: 5%;
  }

}
