header{
  display: flex;
  align-items: stretch;
  background-color: $aside-bg;
  color: #FFF;
  box-shadow: 2px 0 5px darken($body-bg,10%);
  margin-bottom: 20px;

  img{
    flex: 1;
    width: 20%;
    height: 100%;

    & + section{
      flex: 4;
    }
  }

  section{
    
    padding: 2%;
    
     & + section{
      flex: 2;
    }

    h3{
      margin:1% 0;
    }

    p{
      margin:0;
    }

    .btnDownload{
      margin-top: 5px;
    }

  }

  @media only screen and (min-width: 1024px) {
    display:none;
  }
}
