@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qze21e');
  src:  url('../fonts/icomoon.eot?qze21e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qze21e') format('truetype'),
    url('../fonts/icomoon.woff?qze21e') format('woff'),
    url('../fonts/icomoon.svg?qze21e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e906";
}
.icon-checkmark:before {
  content: "\e905";
}
.icon-briefcase:before {
  content: "\e903";
}
.icon-portfolio:before {
  content: "\e903";
}
.icon-suitcase:before {
  content: "\e903";
}
.icon-work:before {
  content: "\e903";
}
.icon-job:before {
  content: "\e903";
}
.icon-employee:before {
  content: "\e903";
}
.icon-gift:before {
  content: "\e904";
}
.icon-present:before {
  content: "\e904";
}
.icon-box:before {
  content: "\e904";
}
.icon-user-tie:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e900";
}
.icon-user-employee:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e900";
}
.icon-avatar:before {
  content: "\e900";
}
.icon-person:before {
  content: "\e900";
}
.icon-member:before {
  content: "\e900";
}
.icon-job2:before {
  content: "\e900";
}
.icon-official:before {
  content: "\e900";
}
.icon-profile2:before {
  content: "\e901";
}
.icon-file:before {
  content: "\e901";
}
.icon-document:before {
  content: "\e901";
}
.icon-page:before {
  content: "\e901";
}
.icon-user2:before {
  content: "\e901";
}
.icon-paper:before {
  content: "\e901";
}
