h1,h2,h3,h4{
  font-family: 'Open Sans', sans-serif
}


body{
  background-color: $body-bg;
  font-family: 'Mandali', serif;
  font-size: 14px;
}

a{
  color:$aside-bg;
}


.portfolio{
  display: flex;
  min-height: 100vh;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }

}

.btnDownload{
  display: block;
  border-color: darken($aside-bg, 5%);
  margin-bottom: 10px;
  border:none;
  padding: 10px;
  border-radius: 5px;
  background-color: darken($aside-bg, 30%);
  color: $aside-color;
  width: 90%;
  text-align: center;
  text-decoration: none;

  &.small{
    padding: 6px 1px;
  }
}
