.skill{
  border:none;

  &:nth-last-child(1){
    padding-bottom: 2%;
  }
  
}

.progress{
  background-color: $body-bg;
  padding: 2px;
  border-radius:5px;
  width: 90%;

  .bar{
    background-color: $aside-bg;
    height: 5px;
    border-radius:5px;

  }

  @for $i from 1 through 100 {
    .percent-#{$i}{
        width : round(percentage($i/100));
    }

  }

}
